<!DOCTYPE html>
<html lang="en">
  <head>
  	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{ page.title }}</title>
    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- jQuery -->
	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.js"></script>
	<!-- Bootstrap JS -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Custom CSS -->
	<link rel="stylesheet" href="asset/css/custom.css">

	<!-- 为了确保适当的绘制和触屏缩放，需要添加 viewport 元数据标签 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
  <nav class="navbar navbar-default navbar-static-top" id='top-nav'>
  <div class="container half-width">
    <div class='navbar-header'>
      <a class="navbar-brand" href="#">Wang Group</a>
    </div>
  </div>
</nav>
<div class="container-fluid" id='main-container'>
  {{content}}
  </div>
  <div class="container-fluid" id='bottom-bar'>
    <div class="container half-width" id='bottom-bar-content'>
      <div class="row">
        <div class='col-sm-8'>
          <h3 class="white">Links</h3>
          <p>links here</p>
        </div>
        <div class="col-sm-4">
          <h3 class="white">Contact us</h3>
          <p>contacts here</p>
        </div>
      </div>
    </div> 
  </div>

  </body>
</html>